@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

/* create a switch for darkmode that impacts this background-color*/
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

:root {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#text-editor a{
  
}

#article a{
  
}

.loader-container {
  width: 80px;
  margin: 100px auto;
}

.block {
  position: relative;
  box-sizing: border-box;
  float: left;
  margin: 0 10px 10px 0;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  background: #FFF;
}

.block-dark {
  position: relative;
  box-sizing: border-box;
  float: left;
  margin: 0 10px 10px 0;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  background: #000;
}

.block:nth-child(4n+1), .block-dark:nth-child(4n+1){
  animation: wave_23 2s ease .0s infinite;
}

.block:nth-child(4n+2), .block-dark:nth-child(4n+2) {
  animation: wave_23 2s ease .2s infinite;
}

.block:nth-child(4n+3), .block-dark:nth-child(4n+3) {
  animation: wave_23 2s ease .4s infinite;
}

.block:nth-child(4n+4), .block-dark:nth-child(4n+4) {
  animation: wave_23 2s ease .6s infinite;
  margin-right: 0;
}

@keyframes wave_23 {
  0% {
    top: 0;
    opacity: 1;
  }

  50% {
    top: 30px;
    opacity: .2;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

[contenteditable="true"]:focus, input:focus {
  outline: none;
}

.MuiPaper-root{
  border-radius: 10px;
  border: 3px solid black;
  box-shadow: 0px 4px 0px 0px rgba(0,0,0,1);

  border-radius: 10px;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.loop-slider .inner {
  display: flex;
  width: fit-content;
  animation-name: loop;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: var(--direction);
  animation-duration: var(--duration);
}

.tag-list {
  width: 30rem;
  max-width: 90vw;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 1rem 0;
  position: relative;
  padding: 1.5rem 0;
  overflow: hidden;
}

.letter-parent{
  
  filter: url(#round)
}

.letter{
  clip-path: polygon(100% 100%, 50% 50% , 100% 0%, 0% 0%, 0% 100%);
}

.letter-fold{
  clip-path: polygon(0% 0%, 0% 100% , 55% 50%);
}